body {
    margin: 0;
    overflow: hidden;
    background-color: black; /* Fondo oscuro */
}

#game-area {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#triangle-large {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 260px solid white; /* Borde inferior blanco */
    left: calc(50% - 150px);
    top: calc(50% - 130px);
}

#triangle-guide {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 90px dashed white; /* Borde inferior discontínuo */
    left: calc(50% - 50px);
    top: calc(50% - 45px);
}

#triangle-small {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 70px solid white; /* Borde inferior blanco */
    left: calc(50% - 40px);
    top: calc(50% - 35px);
}

.firework {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: yellow; /* Color de los fuegos artificiales */
    border-radius: 50%;
    animation: explode 0.5s ease-out forwards;
}

@keyframes explode {
    0% { transform: scale(1); opacity: 1; }
    100% { transform: scale(3); opacity: 0; }
}